html{
  font-size: clamp(5px, .6vw, 10px)
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff00;
  z-index: -1;
}

.main::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 10% 100%);
  background-color: #ffc0cb;
  z-index: -1;
}
.button{
  font-size: 2rem;
  padding: 1.5rem 5rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .1);
  transition: all 0.3s;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s;
}




